<form action= "/names" method = "post">
  Player 1: <input type ="text" name = "name1" >
  
  <div>
  </div>
  Player 2: <input type ="text" name = "name2">
  <div>
  </div>
  <input type="submit" value = "OK!">
</form>
