<div align = "center" style ='border: 10px solid black'><h1>PLAYERS</h1></div>

<font size="10">
<p style="text-align:left;">
Player 1 is <%=@name1%>
<span style="float:right;">Player 2 is <%=@name2%></span></p>


<p style="text-align:left;">
<%hp1 = 100%>
<%=p hp1%>
<span style="float:right;">
<%hp2 = 100%>
<%=p hp2%></span></p>

<div align = "center">
<form action="/attacks" method="get">
  <input type="submit" value = "Attack!"/>
</form>
</div>
