<div align = "center" style ='border: 10px solid black'><h1>PLAYERS</h1></div>

<font size="10">
<p style="text-align:left;">
Player 1 is <%=@game.player1.name%> <span style="float:right;">Player 2 is <%=@game.player2.name%> </span></p>

<p style="text-align:left;">
<%="#{@game.player1.hp} hp"%>
<span style="float:right;">
<%="#{@game.player2.hp} hp"%></span></p>

<div align = "center">
<form action="/attacks" method="get">
  <input type="submit" value = "Attack!">
</form>
</div>
